*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'BreeSerif-Regular';
    src: url('Bree_Serif/BreeSerif-Regular.ttf');
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #98189a;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #98189a;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #98189a;
  }
  
*{
    font-family: BreeSerif-Regular;
} 
body{
    background-color: rgb(250, 230, 255);
}
#div1{
    text-align: center;
    box-shadow: 1px 1px 15px black;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    padding-bottom: 45px;
    margin: 45px 370px 50px 370px;
    background-color: white;
}
h1{
    font-weight: normal;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #293b90;
    padding-top: 30px;
    padding-bottom: 30px;
}
#logo{
    width: 150px;
    margin-top: 20px;
}
button{
    font-size: 20px;
    color: #98189a;
    background-color: white;
    border-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #98189a;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    width: 41%;
}
#button1{
    margin-left: 5px;
}
#button1:hover{
    color: #293b90;
    border-width: 1px;
    border-style: solid;
    border-color: #98189a;
    border-radius: 5px;
}
#button1:active{
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #dee2e6;
}
#button1:focus{
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #dee2e6;
}
#button2:active{
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #dee2e6;
}
#button2:focus{
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #dee2e6;
}
#button2:hover{
    color: #293b90;
    border-width: 1px;
    border-style: solid;
    border-color: #98189a;
    border-radius: 5px;
}
#button2{
    margin-right: 7px;
}
#para1{
    padding-left: 20px;
    padding-right: 20px;
}
#para2{
    padding-left: 20px;
    padding-right: 20px;
}
.paragraph:hover{
    border: 1px;
    border-style: solid;
    border-color: #98189a;
}
.paragraph:focus{
    border: 1px;
    border-style: solid;
    border-color: #dee2e6;
}
#p2{
    font-size: 10px;
    text-align: left;
    width: 80%;
    color: grey;
    margin: 10px 50px 15px 55px;
}
input{
    border-radius: 5px;
    width: 78%;
    padding: 10px 5px 10px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #98189a;
    color: #98189a;
    outline: none;
}
.inputs{
    margin-bottom: 20px;
    padding: 13px;
}
#select1{
    width: 83%;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #98189a;
    color: #98189a;
    outline: none;
}
#select1>option:hover{
    background-color: #293b90;
}
#select2{
    width: 83%;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #98189a;
    color: #98189a;
    outline: none;
}
#select2>option:hover{
    background-color: #293b90;
}
#select3{
    width: 83%;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #98189a;
    color: #98189a;
    outline: none;
}
#select3>option:hover{
    background-color: #293b90;
}
#p3{
    font-size: 10px;
    text-align: left;
    width: 80%;
    color: grey;
    margin-top: -10px;
    margin-left: 52px;
}
#checkboxdiv{
    text-align: left;
    width: 80%;
}
#checkboxdiv>input{
    padding-left: 0px;
    margin-left: -131px;
    margin-top: 3%;
}
#Text{
    margin-left: -38%;
    font-weight: 200px;
    font-size: 17px;
    color: black;
}
#para1{
    display: inline;
    color: #98189a;
    font-size: 17px;
}
#para1>span{
    margin-right: 390px;
    margin-left: -15px;
    margin-bottom: 50px;
}
#signinspan{
    margin-top: 15px;
}
#Signin:hover{
    color: #293b90;
    text-decoration: underline;
}
#Signin{
    margin-right: 30px;
    margin-left: -165px;
    margin-bottom: 50px;
    color: #527bff;
    font-size: 17px;
    text-decoration: none;
}
#signup{
    width: 40%;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    color: white;
    background-color: #98189a;
    outline: none;
    margin-top: 25px;
}